<h1> <%= @facade.movie.title %> </h1>

<section>
  <h4> Rating:</h4><p><%= @facade.movie.rating %>/10 </p>
  <h4> Runtime: </h4><p> <%= @facade.movie.runtime %></p>
  <h4> Genres: </h4> <p><% @facade.movie.genres.each do |genre| %>
      <%= genre %>
    <% end %> </p>
  <h4> Summary: </h4> <p> <%= @facade.movie.description %> </p>
  <h4> Cast: </h4> 
    <% @facade.movie.cast.each do |actor, character| %>
      <%= character %> played by <%= actor %> <br>
    <% end %>
  <br>
  <h4> Number of Reviews: <%= @facade.movie.review_count %> </h4>
  <br>
  <h4> Reviewer Information: </h4>
    <p><% @facade.movie.review_authors.each do |author| %> </p>
      <p> <%= author.name %>
      <%= author.username %>,
      Rating: <%= author.rating %> </p>
    <% end  %> 

  <h3> Poster </h3>
    <%= image_tag(@facade.movie.poster, width: '300px') %>
</section>

<%= link_to "Discover Page", "/users/#{@facade.user_id}/discover" %>

<%= link_to "Create Viewing Party", "/users/#{@facade.user_id}/movies/#{@facade.movie_id}/viewing_party/new" %>
